# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Jarne\Box\Werk\PhD\030-Simulations\Ansys\20220509-Drone-Coil\Simulation-Results\TX-Drone-Coil\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
